\begin{equation*}
\hat{r}_{ui} = \mu + b_u + b_i + q_i^Tp_u  
\end{equation*}

In [1]:
import pandas as pd
import numpy as np

In [3]:
ratings = pd.read_csv('ratings.csv', encoding = 'latin-1')

In [5]:
ratings.head()
ratings.shape

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

(100004, 4)

In [16]:
ratingsByUser = ratings.groupby('userId', as_index=False).agg({"rating": "count"})
ratingsByUser.head()
ratingsByUser.rating.mean()
ratingsByUser.rating.std()

   userId  rating
0       1      20
1       2      76
2       3      51
3       4     204
4       5     100

149.03725782414307

231.22694824534898

In [23]:
ratingsByUser['outlier'] = (abs(ratingsByUser.rating - ratingsByUser.rating.mean()) > ratingsByUser.rating.std() * 3.0)
outliers = ratingsByUser[ratingsByUser['outlier'] == True]
outliers

     userId  rating  outlier
14       15    1700     True
29       30    1011     True
72       73    1610     True
211     212     876     True
212     213     910     True
293     294     947     True
310     311    1019     True
379     380    1063     True
451     452    1340     True
467     468    1291     True
508     509     923     True
546     547    2391     True
563     564    1868     True
579     580     922     True
623     624    1735     True